.button {
  display: block;
  width: max-content;
  margin: 0 auto;
  padding: 0.5em 1em;
  font-size: 1.2rem;
  border-radius: 3px;
  background-color: white;
  color: #980b6e;
  font-weight: 600;
}
.button:hover {
  box-shadow: 3px 3px 10px hsl(318, 87%, 12%);
  color: #980b6e;
  transition: 0.3s;
}
