.button {
  display: block;
  width: max-content;
  background-color: #dc3545;
  margin: 0 auto;
  padding: 0.7em 1em;
  font-size: 1.2rem;
  /* margin-top: 1em; */
  color: white;
}
.button:hover {
  background-color: #fff;
  color: #dc3545;
}
