.card {
  width: 330px;
  height: 350px;
  color: var(--text-grey);
  background-color: #fff;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  margin-bottom: 2em;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.19), 0 4px 4px rgba(0, 0, 0, 0.23);
}

.card:hover{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 12px 25px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
}

.card .top {
  background-color: var(--background-grey);
  height: 205px;
  width: 100%;
  position: relative;
}
.card .tags {
  height: 52;
  position: absolute;
  bottom: 1em;
  left: 1em;
  gap: 0.61em;
}
.card .bottom {
  padding: 1em;
}
.card .bottom button{
  color: #1FA3F9;
  background-color: unset;
  border: 0;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
.card .title {
  color: var(--dark-blue);
  font-size: 19px;
  font-weight: 700;
  margin: 0.4em 0;
}
