.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  /* max-width: 500px; */
  /* background: rgb(84, 100, 136); */
  /* background: linear-gradient(50deg, rgba(65,126,255,1) 16%, rgba(80,246,136,1) 98%); */
  padding: 1em 0.6em;
  padding-bottom: 0;
  width: 100%;
}
