.event-card {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  color: #4e5557;
  width: 350px;
  height: 450px;
  min-width: 300px;
  padding: 1em;
  position: relative;
  /* testing */
  margin: 2em;
}

.event-card .image {
  position: relative;
  height: 140px;
  display: flex;
  justify-content: center;
}

.event-card .image img {
  object-fit: cover;
  height: 100%;
  /* width: 100%; */
  aspect-ratio: 16 / 7;
  /* margin: 0 auto; */
}

.event-card .body {
  line-height: 1.6;
  padding: var(--gap) 0;
}

.event-card .body h1 {
  color: #4690f9;
  font-size: 1.2rem;
  margin: 1em 0;
}

.event-card .tags {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-top: 1em;
  gap: 2em;
}

.event-card .tags p {
  font-weight: 700;
}

.event-card .tags > div {
  flex-wrap: wrap;
  gap: 0.2em;
}

.event-card .tags span {
  padding: 0.3em 1em;
  background-color: #4690f9;
  border-radius: 7px;
  color: white;
}
.event-card .footer {
  border-top: 1px solid rgb(19, 19, 19);
  font-size: 0.9rem;
  padding: 1em 0 0.5em 0;
}

.event-card .footer span {
  color: rgb(208, 208, 208);
  display: inline-block;
  margin-left: 0.25rem;
}
.event-card .date {
  color: #2c2c2c;
  margin-bottom: 0.3em;
}

.event-card .link {
  position: absolute;
  bottom: 1em;
  right: 1em;
  padding: 0.2em 1em;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 5px;
}
