.footer {
  height: 10rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: #2b021f;
}
.footer .copyright {
  text-align: center;
  color: #fff;
}
.footer .socials {
  margin-bottom: 1em;
  color: #333;
  display: flex;
  gap: 1.2rem;
}
.footer .facebook:hover {
  color: #3b5998;
}
.footer .twitter:hover {
  color: #1da1f2;
}
.footer .instagram:hover {
  color: #e1306c;
}
