.navbar {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  align-content: center;
  padding: 0.2em 4%;
  position: relative;
  color: var(--white);
  background-color: #980b6e;
  /* background: linear-gradient(
    90deg,
    rgba(48, 71, 241, 1) 0%,
    rgba(56, 80, 255, 1) 100%
  ); */
}
.navbar .navigation {
  list-style: none;
  align-items: center;
  gap: 1em;
  /* justify-content: ; */
}
.navbar .logo {
  height: 50px;
  width: 50px;
  border-radius: 40%;
  display: block;
  margin-right: 0.4em;
  /* padding: 1em; */
}
.navbar .logo-wrapper {
  justify-content: center;
  align-items: center;
  margin-right: 2em;
  font-size: 1.4rem;
  font-weight: bold;
  /* color: var(--dark); */
}

.signInBtnContainer {
  margin-left: 3vw;
}

.signInBtn {
  color: #ad147f;
  background-color: #ffffff;
  border: 0;
  font-weight: bold;
  font-size: 12px;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
  /* font-size: 1.2rem; */
}
.signInBtn:hover {
  box-shadow: 0 3px 10px hsl(318, 87%, 12%);
  transition: 0.3s;
}

#primary-navigation a:hover {
  color: hsl(318, 80%, 90%);
  border-bottom: 2px solid #f9c8ea;
  transition: 0.1s;
}
