.navbar {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  align-content: center;
  padding: 1em 4%;
  position: relative;
}
.navbar .navigation {
  list-style: none;
  align-items: center;
  gap: 1em;
  /* justify-content: ; */
}
.navbar .logo {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: block;
  margin-right: 0.4em;
}
.navbar .logo-wrapper {
  justify-content: center;
  align-items: center;
}
