@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.flex {
  display: flex;
}
/* 
.header {
  justify-content: space-between;
  background-color: #0e185f;
}
.content {
  height: 100%;
} */

/* .landing {
  overflow: hidden;
} */

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 3rem;
}

.landing {
  min-height: calc(95vh - 70px);
  padding: 2em;
  background-color: #0e185f;
}
.landing img {
  width: 85%;
  height: 100%;
  padding-bottom: 2em;
}

.landing .text {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding-bottom: 2em;
}
.landing .text h1 {
  width: 70%;
  color: #fff;
}
