@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
/* import react-responsive-carousel css */
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/react-responsive-carousel/1.0.0/styles/carousel.min.css"); */

:root {
  --dark-blue: #0e185f;
  --light-blue: #1fa3f9;
  --text-grey: #606d76;
  --background-grey: #c4c4c4;
  --white: #e6f5fe;
  --blue-gradient: linear-gradient(
    90deg,
    rgba(48, 71, 241, 1) 0%,
    rgba(56, 80, 255, 1) 100%
  );
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: #eff0fc;
  color: #444;
  overflow-x: hidden;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: var(--light-blue);
}

h1 {
  font-size: 3rem;
}
img,
svg {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.landing {
  min-height: calc(90vh - 70px);
  padding: 2em;
  /* background-color: var(--dark-blue); */
  background: linear-gradient(
    90deg,
    rgba(48, 71, 241, 1) 0%,
    rgba(56, 80, 255, 1) 100%
  );
}
.landing .svg {
  /* width: 50%; */
  height: 100%;
  /* padding-bottom: 2em; */
  justify-content: center;
  align-items: center;
}

.landing .text {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding-bottom: 2em;
  /* width: 50%; */
}
.landing .text h1 {
  width: 70%;
  color: #fff;
}
.landing .button {
  margin-top: 1em;
}
.about {
  padding: 1em;
  background-color: #fff;
}
.about > .text {
  text-align: center;
  width: 50rem;
  max-width: 100%;
  font-size: 1.7rem;
  margin: 1em auto;
  padding: 1em;
}
.about .cards {
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.articles {
  background-color: #fff;
}
.articles .header {
  height: 300px;
  background-image: url("../public/assets/waves.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2em;
}
.articles .list {
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  padding: 1em;
  margin-top: 1em;
}

.latest {
  text-align: center;
  background-color: rgba(48, 71, 241, 1);
  color: #fff;
  padding: 2em 0;
}
.latest .title {
  margin-bottom: 2rem;
}

@media (max-width: 40em) {
  .row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .row > div {
    width: 100%;
  }
}
