@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
/* import react-responsive-carousel css */
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/react-responsive-carousel/1.0.0/styles/carousel.min.css"); */

:root {
  --dark-blue: #0e185f;
  --light-blue: #1fa3f9;
  --text-grey: #606d76;
  --background-grey: #c4c4c4;
  --white: #e6f5fe;
  --blue: rgba(48, 71, 241, 1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: #fef6fc;
  color: #444;
  overflow-x: hidden;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: var(--light-blue);
}

/* h1 {
  font-size: 3rem;
} */
/* img,
svg {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
} */
.landing {
  min-height: calc(100vh - 70px);
  padding: 3em;
  /* background-color: var(--dark-blue); */
  background-image: url("../public/assets/landingBG1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  /* background: linear-gradient(
    90deg,
    rgba(48, 71, 241, 1) 0%,
    rgba(56, 80, 255, 1) 100%
  ); */
  justify-content: space-between;
}
.landing .svg {
  width: 200px;
  height: 100%;
  /* padding-bottom: 2em; */
  justify-content: center;
  align-items: center;
}

.landing .text {
  flex-direction: column;
  /* align-items: center;  */
  /* justify-content: center; */
  width: max-content;
  color: #fff;
  padding: 3em 2em;
  width: 700px;
}
.landing .text h1,
.landing .text p {
  width: 70%;
  color: #fff;
}
.landing .button {
  margin-top: 1em;
}
/* .about {
  padding: 1em;
  background-color: #fff;
}
.about > .text {
  text-align: center;
  width: 50rem;
  max-width: 100%;
  font-size: 1.7rem;
  margin: 1em auto;
  padding: 1em;
}
.about .cards {
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
} */

.articles {
  background-color: #fff;
}
.articles .header {
  height: 300px;
  background: linear-gradient(
    90deg,
    rgba(48, 71, 241, 1) 0%,
    rgba(56, 80, 255, 1) 100%
  );
  /* border-radius: 0 0 0 50%; */
  /* background-image: url("../public/assets/waves.svg");
  background-repeat: no-repeat;
  background-size: cover; */
  margin-bottom: 2em;
  color: var(--white);
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.2rem;
}
.articles .list {
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  padding: 1em;
  margin-top: 1em;
}

.latest {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #980b6e;
}

.carouselContainer {
  height: 80%;
}
.carouselHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

.article-container {
  width: 100%;
  margin: 0 auto;
  padding: 2em;
  background-color: #fff;
}
.article {
  width: 90%;
  margin: 0 auto;
  padding: 2em 1em;
  background-color: #f5fbff;
}
.title {
  font-size: 28px;
  color: #fef6fc;
}
.article .main-img {
  margin: 0 auto;
  max-height: 300px;
  aspect-ratio: 16/9;
  margin-bottom: 2em;
}
.article .desc {
  margin: 0 auto;
  text-align: center;
  width: 60%;
}
.article-section {
  margin: 0.5em auto;
}
.article-section .img {
  /* height: 300px; */
  width: auto;
  aspect-ratio: 16 / 9;
}
.article-section .section-body {
  padding: 0 1em;
  gap: 2rem;
}
.article-section .section-body p {
  width: fit-content;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: calc(100vh - 70px);
  background-image: url("../public/assets/landingBG1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
}

.articleHeader {
  background-image: url("../public/assets/wavesBG.svg");
  background-size: contain;
  min-height: calc(70vh - 70px);
}

.headerImage > img {
  height: 80%;
  width: 70%;
}
.articleHeaderImage > img {
  height: 80%;
  width: 80%;
}

.headerImage {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../public/assets/waves1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.headerDesc {
  font-size: 1.3em;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 5% 5%;
  width: 50%;
  text-align: center;
}
.articleHeaderDesc {
  padding: 4% 5%;
  width: 50%;
  text-align: center;
}
.headerDesc h1 {
  font-size: 2em;
}
.headerDesc p {
  font-size: 0.7em;
}

.OrangeText {
  color: #fb983c;
}

.about {
  display: flex;
  flex-direction: column;
}

.aboutMain {
  margin-bottom: 50vh;
  position: relative;
}

.aboutText {
  background-image: url("/public/assets/aboutBG.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.aboutText > p {
  width: 30%;
  font-size: 1.5em;
  color: white;
  text-align: center;
}
.aboutCardContainer {
  background-image: url("/public/assets/Formation.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: -100px;
  width: 30vw;
  height: 50vh;
}
.card2 {
  background-image: url("/public/assets/Enfant.png");
  left: calc(50% - 190px);
  bottom: -300px;
}
.card3 {
  background-image: url("/public/assets/Accompagner.png");
  left: unset;
  right: 0;
}

.aboutCardDesc {
  background-image: url("/public/assets/container1.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 50%;
  padding: 1.2em;
  color: white;
  font-size: 1em;
  text-align: center;
}

.aboutCardDesc2 {
  background-image: url("/public/assets/container2.svg");
}
.aboutCardDesc3 {
  background-image: url("/public/assets/container3.svg");
  width: 55%;
  height: 50%;
  padding: 1.3em;
}

.ourContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  height: 80vh;
  padding: 5%;
}

.ourContentContainer {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 25%;
  background-image: linear-gradient(
    to bottom right,
    hsl(318, 87%, 48%),
    hsl(318, 87%, 22%)
  );
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 10px hsla(318, 87%, 12%, 0.274);
}

.ourContentHeader {
  height: 20%;
  text-align: center;
  font-weight: 500;
  padding: 8px 10px;
  font-size: 2vw;
}
.ourContentText {
  height: 60%;
  padding: 20px 15px;
  font-size: 1.25vw;
}
.ourContentLink {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #980b6e;
  border-radius: 0 0 8px 8px;
  cursor: pointer;
  font-weight: 600;
}
.ourContentLink:hover {
  background-color: #730a54;
  color: #fff;
  transition: 0.3s;
}
.ourContentLink a:hover {
  background-color: inherit;
  color: inherit;
}
.stateContainer {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5vh;
}
.stateTitle {
  font-size: 2vw;
  color: #4d0036;
  font-weight: 600;
  height: 30%;
}
.stateContainer {
  background-image: radial-gradient(hsl(318, 77%, 58%), hsl(318, 33%, 62%));
}
.stateContentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  gap: 5vw;
  color: #4d0036;
}
.stateContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 100%;
}
.stateDesc {
  text-align: center;
  height: 40%;
  font-size: 1.3vw;
  font-weight: 400;
}
.stateSvg {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stateNum {
  height: 10%;
  font-size: 1.3vw;
  font-weight: 700;
}
.salonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.saloContentContainer {
  display: flex;
  height: 100%;
  width: 100%;
}
.chatRoomsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 15%;
  width: 100%;
  border-radius: 20px 20px 0 0;
  border-bottom: 1px solid black;
}
@media (max-width: 40em) {
  .row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .row > div {
    width: 100%;
  }
  .navbar {
    display: none;
  }
  .article-container {
    padding: 0;
  }
  .article {
    width: 100%;
    padding: 1em;
  }
  .landing {
    min-height: calc(90vh - 70px);
    padding: 5em;
    /* background-color: var(--dark-blue); */
    /* background-image: url("../public/assets/landingBG1.svg");
    background-size: cover;
    background-repeat: no-repeat; */
    background: linear-gradient(
      90deg,
      rgba(48, 71, 241, 1) 0%,
      rgba(56, 80, 255, 1) 100%
    );
  }
  .headerContainer {
    flex-direction: column;
    justify-content: space-evenly;
    min-height: calc(90vh - 70px);
    padding: 1rem;
    background: linear-gradient(
      90deg,
      rgba(48, 71, 241, 1) 0%,
      rgba(56, 80, 255, 1) 100%
    );
  }
  .headerImage > img {
    height: 100%;
    width: 100%;
  }

  .headerImage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headerDesc {
    font-size: 1em;
    width: 100%;
    text-align: center;
  }
  .about {
    margin: 5vh 1vw;
  }
  .aboutCardContainer {
    position: unset;
    width: 90vw;
    height: 40vh;
    margin: 3vh 0;
  }
  .aboutMain {
    margin-bottom: 0;
  }
  .carouselHeader {
    height: 10%;
  }
  .articleHeaderDesc {
    font-size: 1.5em;
  }
  .articleHeaderImage > img {
    height: 100%;
    width: 100%;
  }
}
